@import 'variables';
@import 'font/webfont.scss';

img {
  &.center {
    display: block;
    margin: auto;
  }
  &.flip {
    transform: rotateY(180deg);
  }
  &.introduce {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

.color-rainbow {
  background-image:linear-gradient(to right,orangered, orange,gold,lightgreen);
  border-radius: 5px;
  padding: 5px;
}

#cover-logo {
  @extend img.flip;
  // margin-top: -10%;
  user-select: none; // 禁止图片选中
}

footer.footer {
  // position: fixed;
  // bottom: 10px;
  // right: 0;
  // left: 0;
  text-align: center;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

// 全局定义hr用于清除浮动
hr {
  @extend .clear;
}

i {
  font-style: normal;
}

.font-bold {
  font-size: larger;
  color: $col-important;
}
.title {
  // color: var(--theme-color, #42b983);
  font-weight: 600 !important;
}

.details {
  /* 手指样式，可以指定-webkit-zoom-out和-webkit-zoom-in */
  cursor: pointer;
  // 不可选中
  user-select: none;
  // 修改detail标签前面的三角形
  list-style: none;
  // &:hover {
  //   // background-image: linear-gradient(#cb6196, #c76262);
  // }
}

/* details标签样式美化 --- start */
details {
  width: 30em;
  margin: 0 2em;
  summary {
    /* 手指样式，可以指定-webkit-zoom-out和-webkit-zoom-in */
    cursor: pointer;
    // 不可选中
    user-select: none;
    // 修改detail标签前面的三角形
    list-style: none;
    &:hover {
      // background-color: #00a1d6;
      background-image: linear-gradient(#cb6196, #c76262);
      text-decoration: none;
      list-style: none;
      // background-size: 30em;
      // width: 30em;
    }
  }

  &[open] {
    // background-color: #f3f3f3;
    border-left: 1px solid rgba(14, 85, 151, 0.3);
    // border-bottom: 1px dashed rgba(14, 85, 151, 0.3);
    summary {
      text-align: center;
      width: 30em;
      background-image: linear-gradient(#cb6196, #c76262);
      display: unset;
    }
    ul {
      margin: 0 auto;
    }
  }
}

// 自定义全局样式
.markdown-section {
  strong {
    color: $col-important;
  }
  a {
    font-weight: 500;
    // &:not(:hover) {
    //   text-decoration: none;
    // }
    text-decoration: none;
    &:hover {
      text-decoration: none;
      // background-image: linear-gradient(to right,#feac5e,#c779d0,#4bc0c8);
      // background-image:  linear-gradient(45deg,#feac5e,#c779d0,#4bc0c8);
      // background-image: linear-gradient(
      //   45deg,
      //   rgba(254, 172, 94, 0.5),
      //   rgba(199, 121, 208, 0.5),
      //   rgba(75, 192, 200, 0.5)
      // );
      // background-color: var(--theme-color, #42b983);
      background-image: $bg-col-rainbow;
    }
  }
  h1 {
    font-size: 1.5em;
    span {
      display: inline-block;
      // background: rgb(225, 239, 219);
      padding: 10px 16px;
      border-radius: 5px;
      // box-shadow: 1px 1px 3px black;
      background-image: linear-gradient(
        45deg,
        rgba(254, 145, 94, 0.5),
        rgba(199, 121, 208, 0.5),
        rgba(75, 192, 200, 0.5)
      );
    }
  }
  > div > img {
    box-shadow: 2px 2px 20px 6px rgb(255, 255, 255) !important;
  }
  pre {
    background-color: #212121 !important;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 6px rgb(255, 255, 255) !important;
    &::before {
      content: '';
      display: block;
      background: url(/assets/images/icon/omit.ico);
      height: 30px;
      background-size: 40px;
      background-repeat: no-repeat;
      background-color: #1c1c1c;
      background-position: 10px 10px;
    }
    > code {
      color: #c0c3c1 !important;
      font-family: 'Inconsolata', consolas, 'PingFang SC', 'Microsoft YaHei',
        monospace !important;
      background-color: #212121 !important; //#accfff  #282c34
      font-size: 15px !important;
      white-space: pre !important;
      line-height: 1.5 !important;
      -moz-tab-size: 4 !important;
      -o-tab-size: 4 !important;
      tab-size: 4 !important;
      padding: 1.5em 5px;
    }
  }

  code {
    background-color: #f8f8f8;
    border-radius: 2px;
    font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB',
      'Microsoft YaHei', Arial, sans-serif;
    font-size: 16px !important;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: nowrap;
    color: #a72c2c;
  }

  p {
    > code {
      border: 1px dashed #b6bcc4;
    }
  }
  .docsify-copy-code-button {
    background: #00a1d6 !important;
    color: #ffffff !important;
    font-size: 13px !important;
  }
}

// 代码块颜色配置
.token {
  &.keyword {
    color: #c678dd !important;
  }
  &.comment {
    color: #737c8b !important;
  }
  &.tag {
    color: #a589ad !important;
  }
  &.attr-name {
    color: #de916c !important;
  }
  &.attr-value {
    color: #4faee2 !important;
  }
  &.macro.property {
    color: #4faee2 !important;
  }
  &.function {
    color: #e6b456 !important;
  }
  &.string {
    color: #98b755 !important;
  }
  &.punctuation {
    color: #c0c3c1 !important;
  }
  &.number {
    color: #c0c3c1 !important;
  }
}

//  导航栏配置
.app-nav {
  position: fixed;
  margin: 0px;
  padding: 15px 25px 15px 0; /*上、右、下、左*/
  width: calc(100% - 300px);
  background-color: #fff;
  height: 55px;
  border-bottom: 1px solid #eee;
  a {
    &.active {
      border-bottom: none !important;
    }
  }
  &.no-badge {
    margin: 0;
  }
}

body.close .app-nav {
  width: 100%;
}

// 右上角访问地址配置
.github-corner {
  width: 55px;
  height: 55px;
  position: absolute;
  z-index: 999;
  opacity: 0.7;
}

// 侧边栏配置
.sidebar {
  padding-top: 5px;
  .search {
    margin-bottom: 20px;
    padding: 8px;
    border-bottom: 1px solid #eee;
    input {
      padding: 0px;
    }
  }
  .sidebar-nav {
    width: min-content;
  }
  ul li {
    margin: 0;
    position: relative;
    ul {
      margin: 6px 0;
    }
    p {
      padding-left: 22px;
      font-size: 18px;
      font-weight: normal;
    }
    a {
      line-height: 35px;
      font-size: 14px;
      padding: 3px 0 3px 22px;
      &:hover {
        text-decoration: none;
        color: var(--theme-color, #42b983);
      }
    }
    &:active {
      > a {
        font-size: 16px !important;
        &::before {
          content: '' !important;
          position: absolute !important;
          margin: 0 !important;
          width: 10px !important;
          height: 10px !important;
          top: 15px !important;
          left: 0px !important;
          border-radius: 50% !important;
          background-color: #fed24a !important;
          box-shadow: 0 0 0 3px rgba(254, 210, 74, 0.4) !important;
        }
      }
    }
  }
}

.swal-title {
  color: #575757;
}

.swal-text {
  color: #797979;
}

// 滚动栏配置
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #33a9dc;
  background-image: linear-gradient(#6db85a, #33a9dc, #cb6196, #ac155e);
  border-radius: 2em;
}

.waifu {
  cursor: pointer;
}

#sitetime {
  color: #000;
  margin-left: 20px;
  background-image: $bg-col-rainbow;
  opacity: 0.8;
}

.CodeMirror-scroll {
  background-color: rebeccapurple;
}
.console-line {
  display: none;
}