$icomoon-font-family: "font-brand" !default;
$icomoon-font-path: "fonts" !default;

$icon-brand-1password: "\eff1";
$icon-brand-500px: "\eff2";
$icon-brand-abbrobotstudio: "\eff3";
$icon-brand-about-dot-me: "\eff4";
$icon-brand-abstract: "\eff5";
$icon-brand-academia: "\eff6";
$icon-brand-accusoft: "\eff7";
$icon-brand-acm: "\eff8";
$icon-brand-addthis: "\eff9";
$icon-brand-adguard: "\effa";
$icon-brand-adobe: "\effb";
$icon-brand-adobeacrobatreader: "\effc";
$icon-brand-adobeaftereffects: "\effd";
$icon-brand-adobeaudition: "\effe";
$icon-brand-adobecreativecloud: "\efff";
$icon-brand-adobedreamweaver: "\f000";
$icon-brand-adobeillustrator: "\f001";
$icon-brand-adobeindesign: "\f002";
$icon-brand-adobelightroomcc: "\f003";
$icon-brand-adobelightroomclassic: "\f004";
$icon-brand-adobephotoshop: "\f005";
$icon-brand-adobepremiere: "\f006";
$icon-brand-adobetypekit: "\f007";
$icon-brand-adobexd: "\f008";
$icon-brand-airbnb: "\f009";
$icon-brand-airplayaudio: "\f00a";
$icon-brand-airplayvideo: "\f00b";
$icon-brand-algolia: "\f00c";
$icon-brand-alliedmodders: "\f00d";
$icon-brand-amazon: "\f00e";
$icon-brand-amazonalexa: "\f00f";
$icon-brand-amazonaws: "\f010";
$icon-brand-amd: "\f011";
$icon-brand-americanexpress: "\f012";
$icon-brand-anaconda: "\f013";
$icon-brand-analogue: "\f014";
$icon-brand-anchor: "\f015";
$icon-brand-android: "\f016";
$icon-brand-angellist: "\f017";
$icon-brand-angular: "\f018";
$icon-brand-angularuniversal: "\f019";
$icon-brand-ansible: "\f01a";
$icon-brand-apache: "\f01b";
$icon-brand-apacheairflow: "\f01c";
$icon-brand-apachecordova: "\f01d";
$icon-brand-apacheflink: "\f01e";
$icon-brand-apachekafka: "\f01f";
$icon-brand-apachenetbeanside: "\f020";
$icon-brand-apacheopenoffice: "\f021";
$icon-brand-apacherocketmq: "\f022";
$icon-brand-apachespark: "\f023";
$icon-brand-apple: "\f024";
$icon-brand-applemusic: "\f025";
$icon-brand-applepay: "\f026";
$icon-brand-applepodcasts: "\f027";
$icon-brand-appveyor: "\f028";
$icon-brand-aral: "\f029";
$icon-brand-archiveofourown: "\f02a";
$icon-brand-archlinux: "\f02b";
$icon-brand-arduino: "\f02c";
$icon-brand-artstation: "\f02d";
$icon-brand-arxiv: "\f02e";
$icon-brand-asciidoctor: "\f030";
$icon-brand-at-and-t: "\f031";
$icon-brand-atlassian: "\f032";
$icon-brand-atom: "\f033";
$icon-brand-audi: "\f034";
$icon-brand-audible: "\f035";
$icon-brand-aurelia: "\f036";
$icon-brand-auth0: "\f037";
$icon-brand-automatic1: "\f038";
$icon-brand-autotask: "\f039";
$icon-brand-aventrix: "\f03a";
$icon-brand-awesomewm: "\f03b";
$icon-brand-azureartifacts: "\f03c";
$icon-brand-azuredevops: "\f03d";
$icon-brand-azurepipelines: "\f03e";
$icon-brand-babel: "\f03f";
$icon-brand-baidu: "\f040";
$icon-brand-bamboo: "\f041";
$icon-brand-bancontact: "\f042";
$icon-brand-bandcamp: "\f043";
$icon-brand-bandlab: "\f044";
$icon-brand-basecamp: "\f045";
$icon-brand-bathasu: "\f046";
$icon-brand-beats: "\f047";
$icon-brand-beatsbydre: "\f048";
$icon-brand-behance: "\f049";
$icon-brand-bigcartel: "\f04a";
$icon-brand-bing: "\f04b";
$icon-brand-bit: "\f04c";
$icon-brand-bitbucket: "\f04d";
$icon-brand-bitcoin: "\f04e";
$icon-brand-bitdefender: "\f04f";
$icon-brand-bitly: "\f050";
$icon-brand-bitrise: "\f051";
$icon-brand-blackberry: "\f052";
$icon-brand-blender: "\f053";
$icon-brand-blogger: "\f054";
$icon-brand-bmcsoftware: "\f055";
$icon-brand-boeing: "\f056";
$icon-brand-boost: "\f057";
$icon-brand-bootstrap: "\f058";
$icon-brand-bower: "\f059";
$icon-brand-box: "\f05a";
$icon-brand-brand-dot-ai: "\f05b";
$icon-brand-brandfolder: "\f05c";
$icon-brand-brave: "\f05d";
$icon-brand-breaker: "\f05e";
$icon-brand-broadcom: "\f05f";
$icon-brand-buddy: "\f060";
$icon-brand-buffer: "\f061";
$icon-brand-buymeacoffee: "\f062";
$icon-brand-buzzfeed: "\f063";
$icon-brand-c: "\f064";
$icon-brand-cakephp: "\f065";
$icon-brand-campaignmonitor: "\f066";
$icon-brand-canva: "\f067";
$icon-brand-cashapp: "\f068";
$icon-brand-cassandra: "\f069";
$icon-brand-castorama: "\f06a";
$icon-brand-castro: "\f06b";
$icon-brand-centos: "\f06c";
$icon-brand-cevo: "\f06d";
$icon-brand-chase: "\f06e";
$icon-brand-chef: "\f06f";
$icon-brand-circle: "\f070";
$icon-brand-circleci: "\f071";
$icon-brand-cirrusci: "\f072";
$icon-brand-cisco: "\f073";
$icon-brand-civicrm: "\f074";
$icon-brand-clockify: "\f075";
$icon-brand-clojure: "\f076";
$icon-brand-cloudbees: "\f077";
$icon-brand-cloudflare: "\f078";
$icon-brand-cmake: "\f079";
$icon-brand-co-op: "\f07a";
$icon-brand-codacy: "\f07b";
$icon-brand-codecademy: "\f07c";
$icon-brand-codechef: "\f07d";
$icon-brand-codeclimate: "\f07e";
$icon-brand-codecov: "\f07f";
$icon-brand-codefactor: "\f080";
$icon-brand-codeforces: "\f081";
$icon-brand-codeigniter: "\f082";
$icon-brand-codepen: "\f083";
$icon-brand-coderwall: "\f084";
$icon-brand-codesandbox: "\f085";
$icon-brand-codeship: "\f086";
$icon-brand-codewars: "\f087";
$icon-brand-codio: "\f088";
$icon-brand-coffeescript: "\f089";
$icon-brand-coinbase: "\f08a";
$icon-brand-commonworkflowlanguage: "\f08b";
$icon-brand-composer: "\f08c";
$icon-brand-compropago: "\f08d";
$icon-brand-conda-forge: "\f08e";
$icon-brand-conekta: "\f08f";
$icon-brand-confluence: "\f090";
$icon-brand-coronarenderer: "\f091";
$icon-brand-coursera: "\f092";
$icon-brand-coveralls: "\f093";
$icon-brand-cpanel: "\f094";
$icon-brand-cplusplus: "\f095";
$icon-brand-creativecommons: "\f096";
$icon-brand-crehana: "\f097";
$icon-brand-crunchbase: "\f098";
$icon-brand-crunchyroll: "\f099";
$icon-brand-cryengine: "\f09a";
$icon-brand-csharp: "\f09b";
$icon-brand-css3: "\f09c";
$icon-brand-csswizardry: "\f09d";
$icon-brand-curl: "\f09e";
$icon-brand-d3-dot-js: "\f09f";
$icon-brand-dailymotion: "\f0a0";
$icon-brand-dart: "\f0a1";
$icon-brand-dashlane: "\f0a2";
$icon-brand-datacamp: "\f0a3";
$icon-brand-dazn: "\f0a4";
$icon-brand-dblp: "\f0a5";
$icon-brand-debian1: "\f0a6";
$icon-brand-deepin: "\f0a7";
$icon-brand-deezer: "\f0a8";
$icon-brand-delicious: "\f0a9";
$icon-brand-deliveroo: "\f0aa";
$icon-brand-dell: "\f0ab";
$icon-brand-deno: "\f0ac";
$icon-brand-dependabot: "\f0ad";
$icon-brand-designernews: "\f0ae";
$icon-brand-dev-dot-to: "\f0af";
$icon-brand-deviantart: "\f0b0";
$icon-brand-devrant: "\f0b1";
$icon-brand-diaspora: "\f0b2";
$icon-brand-digg: "\f0b3";
$icon-brand-digitalocean: "\f0b4";
$icon-brand-directus: "\f0b5";
$icon-brand-discord: "\f0b6";
$icon-brand-discourse: "\f0b7";
$icon-brand-discover: "\f0b8";
$icon-brand-disqus: "\f0b9";
$icon-brand-disroot: "\f0ba";
$icon-brand-django: "\f0bb";
$icon-brand-dlna: "\f0bc";
$icon-brand-docker: "\f0bd";
$icon-brand-docusign: "\f0be";
$icon-brand-dolby: "\f0bf";
$icon-brand-dot-net: "\f0c0";
$icon-brand-draugiem-dot-lv: "\f0c1";
$icon-brand-dribbble1: "\f0c2";
$icon-brand-drone: "\f0c3";
$icon-brand-dropbox: "\f0c4";
$icon-brand-drupal: "\f0c5";
$icon-brand-dtube: "\f0c6";
$icon-brand-duckduckgo: "\f0c7";
$icon-brand-dunked: "\f0c8";
$icon-brand-duolingo: "\f0c9";
$icon-brand-dynatrace: "\f0ca";
$icon-brand-ebay: "\f0cb";
$icon-brand-eclipseide: "\f0cc";
$icon-brand-elastic: "\f0cd";
$icon-brand-elasticcloud: "\f0ce";
$icon-brand-elasticsearch: "\f0cf";
$icon-brand-elasticstack: "\f0d0";
$icon-brand-electron: "\f0d1";
$icon-brand-elementary: "\f0d2";
$icon-brand-eleventy: "\f0d3";
$icon-brand-ello: "\f0d4";
$icon-brand-elsevier: "\f0d5";
$icon-brand-ember-dot-js: "\f0d6";
$icon-brand-emlakjet: "\f0d7";
$icon-brand-empirekred: "\f0d8";
$icon-brand-envato: "\f0d9";
$icon-brand-epel: "\f0da";
$icon-brand-epicgames: "\f0db";
$icon-brand-epson: "\f0dc";
$icon-brand-esea: "\f0dd";
$icon-brand-eslint: "\f0de";
$icon-brand-ethereum: "\f0df";
$icon-brand-etsy: "\f0e0";
$icon-brand-eventbrite: "\f0e1";
$icon-brand-eventstore: "\f0e2";
$icon-brand-evernote: "\f0e3";
$icon-brand-everplaces: "\f0e4";
$icon-brand-evry: "\f0e5";
$icon-brand-exercism: "\f0e6";
$icon-brand-expertsexchange: "\f0e7";
$icon-brand-expo: "\f0e8";
$icon-brand-eyeem: "\f0e9";
$icon-brand-f-droid: "\f0ea";
$icon-brand-f-secure: "\f0eb";
$icon-brand-facebook: "\f0ec";
$icon-brand-faceit: "\f0ed";
$icon-brand-fandango: "\f0ee";
$icon-brand-favro: "\f0ef";
$icon-brand-feathub: "\f0f0";
$icon-brand-fedora: "\f0f1";
$icon-brand-feedly: "\f0f2";
$icon-brand-fidoalliance: "\f0f3";
$icon-brand-figma: "\f0f4";
$icon-brand-filezilla: "\f0f5";
$icon-brand-firebase: "\f0f6";
$icon-brand-fitbit: "\f0f7";
$icon-brand-fiverr: "\f0f8";
$icon-brand-flask: "\f0f9";
$icon-brand-flattr: "\f0fa";
$icon-brand-flickr: "\f0fb";
$icon-brand-flipboard: "\f0fc";
$icon-brand-floatplane: "\f0fd";
$icon-brand-flutter: "\f0fe";
$icon-brand-fnac: "\f0ff";
$icon-brand-formstack: "\f100";
$icon-brand-fossa: "\f101";
$icon-brand-fossilscm: "\f102";
$icon-brand-foursquare: "\f103";
$icon-brand-framer: "\f104";
$icon-brand-freebsd: "\f105";
$icon-brand-freecodecamp: "\f106";
$icon-brand-fujifilm: "\f107";
$icon-brand-fujitsu: "\f108";
$icon-brand-furaffinity: "\f109";
$icon-brand-furrynetwork: "\f10a";
$icon-brand-garmin: "\f10b";
$icon-brand-gatsby: "\f10c";
$icon-brand-gauges: "\f10d";
$icon-brand-genius: "\f10e";
$icon-brand-gentoo: "\f10f";
$icon-brand-geocaching: "\f110";
$icon-brand-gerrit: "\f111";
$icon-brand-ghost: "\f112";
$icon-brand-gimp: "\f113";
$icon-brand-git: "\f114";
$icon-brand-gitea: "\f115";
$icon-brand-github: "\f116";
$icon-brand-gitlab: "\f117";
$icon-brand-gitpod: "\f118";
$icon-brand-gitter: "\f119";
$icon-brand-glassdoor: "\f11a";
$icon-brand-glitch: "\f11b";
$icon-brand-gmail: "\f11c";
$icon-brand-gnome: "\f11d";
$icon-brand-gnu: "\f11e";
$icon-brand-gnuicecat: "\f11f";
$icon-brand-gnuprivacyguard: "\f120";
$icon-brand-gnusocial: "\f121";
$icon-brand-go: "\f122";
$icon-brand-godotengine: "\f123";
$icon-brand-gog-dot-com: "\f124";
$icon-brand-goldenline: "\f125";
$icon-brand-goodreads: "\f126";
$icon-brand-google1: "\f127";
$icon-brand-googleads: "\f128";
$icon-brand-googleanalytics: "\f129";
$icon-brand-googlechrome: "\f12a";
$icon-brand-googlecloud: "\f12b";
$icon-brand-googledrive: "\f12c";
$icon-brand-googlehangouts: "\f12d";
$icon-brand-googlehangoutschat: "\f12e";
$icon-brand-googlekeep: "\f12f";
$icon-brand-googlepay: "\f130";
$icon-brand-googleplay: "\f131";
$icon-brand-googlepodcasts: "\f132";
$icon-brand-googlescholar: "\f133";
$icon-brand-googlesearchconsole: "\f134";
$icon-brand-gov-dot-uk: "\f135";
$icon-brand-gradle: "\f136";
$icon-brand-grafana: "\f137";
$icon-brand-graphcool: "\f138";
$icon-brand-graphql: "\f139";
$icon-brand-grav: "\f13a";
$icon-brand-gravatar: "\f13b";
$icon-brand-greenkeeper: "\f13c";
$icon-brand-greensock: "\f13d";
$icon-brand-groovy: "\f13e";
$icon-brand-groupon: "\f13f";
$icon-brand-gulp: "\f140";
$icon-brand-gumroad: "\f141";
$icon-brand-gumtree: "\f142";
$icon-brand-gutenberg: "\f143";
$icon-brand-habr: "\f144";
$icon-brand-hackaday: "\f145";
$icon-brand-hackerearth: "\f146";
$icon-brand-hackerone: "\f147";
$icon-brand-hackerrank: "\f148";
$icon-brand-hackhands: "\f149";
$icon-brand-hackster: "\f14a";
$icon-brand-happycow: "\f14b";
$icon-brand-hashnode: "\f14c";
$icon-brand-haskell: "\f14d";
$icon-brand-hatenabookmark: "\f14e";
$icon-brand-haxe: "\f14f";
$icon-brand-helm: "\f150";
$icon-brand-here: "\f151";
$icon-brand-heroku: "\f152";
$icon-brand-hexo: "\f153";
$icon-brand-highly: "\f154";
$icon-brand-hipchat: "\f155";
$icon-brand-hitachi: "\f156";
$icon-brand-hockeyapp: "\f157";
$icon-brand-homeassistant: "\f158";
$icon-brand-homify: "\f159";
$icon-brand-hootsuite: "\f15a";
$icon-brand-houzz: "\f15b";
$icon-brand-hp: "\f15c";
$icon-brand-html5: "\f15d";
$icon-brand-htmlacademy: "\f15e";
$icon-brand-huawei: "\f15f";
$icon-brand-hubspot: "\f160";
$icon-brand-hulu: "\f161";
$icon-brand-humblebundle: "\f162";
$icon-brand-hurriyetemlak: "\f163";
$icon-brand-hypothesis: "\f164";
$icon-brand-iata: "\f165";
$icon-brand-ibm: "\f166";
$icon-brand-icloud: "\f167";
$icon-brand-icomoon: "\f168";
$icon-brand-icon: "\f169";
$icon-brand-iconjar: "\f16a";
$icon-brand-icq: "\f16b";
$icon-brand-ideal: "\f16c";
$icon-brand-ifixit: "\f16d";
$icon-brand-imdb: "\f16e";
$icon-brand-imgur: "\f16f";
$icon-brand-indeed: "\f170";
$icon-brand-influxdb: "\f171";
$icon-brand-inkscape: "\f172";
$icon-brand-instacart: "\f173";
$icon-brand-instagram: "\f174";
$icon-brand-instapaper: "\f175";
$icon-brand-intel: "\f176";
$icon-brand-intellijidea: "\f177";
$icon-brand-intercom: "\f178";
$icon-brand-internetarchive: "\f179";
$icon-brand-internetexplorer: "\f17a";
$icon-brand-invision: "\f17b";
$icon-brand-invoiceninja: "\f17c";
$icon-brand-ionic: "\f17d";
$icon-brand-ios: "\f17e";
$icon-brand-ipfs: "\f17f";
$icon-brand-issuu: "\f180";
$icon-brand-itch-dot-io: "\f181";
$icon-brand-itunes: "\f182";
$icon-brand-jabber: "\f183";
$icon-brand-java: "\f184";
$icon-brand-javascript: "\f185";
$icon-brand-jekyll: "\f186";
$icon-brand-jenkins: "\f187";
$icon-brand-jest: "\f188";
$icon-brand-jet: "\f189";
$icon-brand-jetbrains: "\f18a";
$icon-brand-jinja: "\f18b";
$icon-brand-jira: "\f18c";
$icon-brand-joomla: "\f18d";
$icon-brand-jquery: "\f18e";
$icon-brand-jsdelivr: "\f18f";
$icon-brand-jsfiddle: "\f190";
$icon-brand-json: "\f191";
$icon-brand-jupyter: "\f192";
$icon-brand-justgiving: "\f193";
$icon-brand-kaggle: "\f194";
$icon-brand-kaios: "\f195";
$icon-brand-kaspersky: "\f196";
$icon-brand-kentico: "\f197";
$icon-brand-keras: "\f198";
$icon-brand-keybase: "\f199";
$icon-brand-keycdn: "\f19a";
$icon-brand-khanacademy: "\f19b";
$icon-brand-kibana: "\f19c";
$icon-brand-kickstarter: "\f19d";
$icon-brand-kik: "\f19e";
$icon-brand-kirby: "\f19f";
$icon-brand-klout: "\f1a0";
$icon-brand-known: "\f1a1";
$icon-brand-ko-fi: "\f1a2";
$icon-brand-kodi: "\f1a3";
$icon-brand-koding: "\f1a4";
$icon-brand-kotlin: "\f1a5";
$icon-brand-krita: "\f1a6";
$icon-brand-kubernetes: "\f1a7";
$icon-brand-laravel: "\f1a8";
$icon-brand-laravelhorizon: "\f1a9";
$icon-brand-laravelnova: "\f1aa";
$icon-brand-last-dot-fm: "\f1ab";
$icon-brand-lastpass: "\f1ac";
$icon-brand-latex: "\f1ad";
$icon-brand-launchpad: "\f1ae";
$icon-brand-leetcode: "\f1af";
$icon-brand-lenovo: "\f1b0";
$icon-brand-letsencrypt: "\f1b1";
$icon-brand-letterboxd: "\f1b2";
$icon-brand-lgtm: "\f1b3";
$icon-brand-liberapay: "\f1b4";
$icon-brand-librarything: "\f1b5";
$icon-brand-libreoffice: "\f1b6";
$icon-brand-line: "\f1b7";
$icon-brand-linewebtoon: "\f1b8";
$icon-brand-linkedin: "\f1b9";
$icon-brand-linode: "\f1ba";
$icon-brand-linux1: "\f1bb";
$icon-brand-linuxfoundation: "\f1bc";
$icon-brand-linuxmint: "\f1bd";
$icon-brand-livejournal: "\f1be";
$icon-brand-livestream: "\f1bf";
$icon-brand-llvm: "\f1c0";
$icon-brand-logstash: "\f1c1";
$icon-brand-loop: "\f1c2";
$icon-brand-lua: "\f1c3";
$icon-brand-lufthansa: "\f1c4";
$icon-brand-lumen: "\f1c5";
$icon-brand-lyft: "\f1c6";
$icon-brand-macys: "\f1c7";
$icon-brand-magento: "\f1c8";
$icon-brand-magisk: "\f1c9";
$icon-brand-mail-dot-ru: "\f1ca";
$icon-brand-mailchimp: "\f1cb";
$icon-brand-makerbot: "\f1cc";
$icon-brand-manageiq: "\f1cd";
$icon-brand-manjaro: "\f1ce";
$icon-brand-mapbox: "\f1cf";
$icon-brand-markdown: "\f1d0";
$icon-brand-marketo: "\f1d1";
$icon-brand-mastercard: "\f1d2";
$icon-brand-mastodon: "\f1d3";
$icon-brand-materialdesign: "\f1d4";
$icon-brand-mathworks: "\f1d5";
$icon-brand-matrix: "\f1d6";
$icon-brand-mattermost: "\f1d7";
$icon-brand-matternet: "\f1d8";
$icon-brand-mcafee: "\f1d9";
$icon-brand-mdnwebdocs: "\f1da";
$icon-brand-mediafire: "\f1db";
$icon-brand-mediatemple: "\f1dc";
$icon-brand-medium: "\f1dd";
$icon-brand-meetup: "\f1de";
$icon-brand-mega: "\f1df";
$icon-brand-mendeley: "\f1e0";
$icon-brand-mercedes: "\f1e1";
$icon-brand-messenger: "\f1e2";
$icon-brand-meteor: "\f1e3";
$icon-brand-micro-dot-blog: "\f1e4";
$icon-brand-microgenetics: "\f1e5";
$icon-brand-microsoft: "\f1e6";
$icon-brand-microsoftaccess: "\f1e7";
$icon-brand-microsoftazure: "\f1e8";
$icon-brand-microsoftedge: "\f1e9";
$icon-brand-microsoftexcel: "\f1ea";
$icon-brand-microsoftoffice: "\f1eb";
$icon-brand-microsoftonedrive: "\f1ec";
$icon-brand-microsoftonenote: "\f1ed";
$icon-brand-microsoftoutlook: "\f1ee";
$icon-brand-microsoftpowerpoint: "\f1ef";
$icon-brand-microsoftteams: "\f1f0";
$icon-brand-microsoftword: "\f1f1";
$icon-brand-microstrategy: "\f1f2";
$icon-brand-minds: "\f1f3";
$icon-brand-minetest: "\f1f4";
$icon-brand-minutemailer: "\f1f5";
$icon-brand-mix: "\f1f6";
$icon-brand-mixcloud: "\f1f7";
$icon-brand-mixer: "\f1f8";
$icon-brand-mojang: "\f1f9";
$icon-brand-monero: "\f1fa";
$icon-brand-mongodb: "\f1fb";
$icon-brand-monkeytie: "\f1fc";
$icon-brand-monogram: "\f1fd";
$icon-brand-monster: "\f1fe";
$icon-brand-monzo: "\f1ff";
$icon-brand-moo: "\f200";
$icon-brand-mozilla: "\f201";
$icon-brand-mozillafirefox: "\f202";
$icon-brand-musescore: "\f203";
$icon-brand-mxlinux: "\f204";
$icon-brand-myspace: "\f205";
$icon-brand-mysql: "\f206";
$icon-brand-nativescript: "\f207";
$icon-brand-nec: "\f208";
$icon-brand-neo4j: "\f209";
$icon-brand-netflix: "\f20a";
$icon-brand-netlify: "\f20b";
$icon-brand-next-dot-js: "\f20c";
$icon-brand-nextcloud: "\f20d";
$icon-brand-nextdoor: "\f20e";
$icon-brand-nginx: "\f20f";
$icon-brand-nim: "\f210";
$icon-brand-nintendo: "\f211";
$icon-brand-nintendo3ds: "\f212";
$icon-brand-nintendogamecube: "\f213";
$icon-brand-nintendoswitch: "\f214";
$icon-brand-node-dot-js: "\f215";
$icon-brand-node-red: "\f216";
$icon-brand-nodemon: "\f217";
$icon-brand-nokia: "\f218";
$icon-brand-notion: "\f219";
$icon-brand-notist: "\f21a";
$icon-brand-npm: "\f21b";
$icon-brand-nucleo: "\f21c";
$icon-brand-nuget: "\f21d";
$icon-brand-nutanix: "\f21e";
$icon-brand-nuxt-dot-js: "\f21f";
$icon-brand-nvidia: "\f220";
$icon-brand-obsstudio: "\f221";
$icon-brand-ocaml: "\f222";
$icon-brand-octave: "\f223";
$icon-brand-octopusdeploy: "\f224";
$icon-brand-oculus: "\f225";
$icon-brand-odnoklassniki: "\f226";
$icon-brand-openaccess: "\f227";
$icon-brand-openapiinitiative: "\f228";
$icon-brand-opencollective: "\f229";
$icon-brand-openid: "\f22a";
$icon-brand-opensourceinitiative: "\f22b";
$icon-brand-openssl: "\f22c";
$icon-brand-openstreetmap: "\f22d";
$icon-brand-opensuse: "\f22e";
$icon-brand-openvpn: "\f22f";
$icon-brand-opera: "\f230";
$icon-brand-opsgenie: "\f231";
$icon-brand-oracle: "\f232";
$icon-brand-orcid: "\f233";
$icon-brand-origin: "\f234";
$icon-brand-osmc: "\f235";
$icon-brand-overcast: "\f236";
$icon-brand-overleaf: "\f237";
$icon-brand-ovh: "\f238";
$icon-brand-pagekit: "\f239";
$icon-brand-palantir: "\f23a";
$icon-brand-paloaltosoftware: "\f23b";
$icon-brand-pandora: "\f23c";
$icon-brand-pantheon: "\f23d";
$icon-brand-parse-dot-ly: "\f23e";
$icon-brand-pastebin: "\f23f";
$icon-brand-patreon: "\f240";
$icon-brand-paypal: "\f241";
$icon-brand-peertube: "\f242";
$icon-brand-periscope: "\f243";
$icon-brand-php: "\f244";
$icon-brand-pi-hole: "\f245";
$icon-brand-picarto-dot-tv: "\f246";
$icon-brand-pinboard: "\f247";
$icon-brand-pingdom: "\f248";
$icon-brand-pingup: "\f249";
$icon-brand-pinterest: "\f24a";
$icon-brand-pivotaltracker: "\f24b";
$icon-brand-pjsip: "\f24c";
$icon-brand-plangrid: "\f24d";
$icon-brand-player-dot-me: "\f24e";
$icon-brand-playerfm: "\f24f";
$icon-brand-playstation: "\f250";
$icon-brand-playstation3: "\f251";
$icon-brand-playstation4: "\f252";
$icon-brand-plesk: "\f253";
$icon-brand-plex: "\f254";
$icon-brand-pluralsight: "\f255";
$icon-brand-plurk: "\f256";
$icon-brand-pocket: "\f257";
$icon-brand-pocketcasts: "\f258";
$icon-brand-postgresql: "\f259";
$icon-brand-postman: "\f25a";
$icon-brand-postwoman: "\f25b";
$icon-brand-powershell: "\f25c";
$icon-brand-prestashop: "\f25d";
$icon-brand-prettier: "\f25e";
$icon-brand-prismic: "\f25f";
$icon-brand-probot: "\f260";
$icon-brand-processwire: "\f261";
$icon-brand-producthunt: "\f262";
$icon-brand-prometheus: "\f263";
$icon-brand-proto-dot-io: "\f264";
$icon-brand-protonmail: "\f265";
$icon-brand-proxmox: "\f266";
$icon-brand-publons: "\f267";
$icon-brand-purescript: "\f268";
$icon-brand-pypi: "\f269";
$icon-brand-python: "\f26a";
$icon-brand-pytorch: "\f26b";
$icon-brand-pyup: "\f26c";
$icon-brand-qemu: "\f26d";
$icon-brand-qgis: "\f26e";
$icon-brand-qiita: "\f26f";
$icon-brand-qualcomm: "\f270";
$icon-brand-quantcast: "\f271";
$icon-brand-quantopian: "\f272";
$icon-brand-quarkus: "\f273";
$icon-brand-quicktime: "\f274";
$icon-brand-quip: "\f275";
$icon-brand-quora: "\f276";
$icon-brand-qwiklabs: "\f277";
$icon-brand-qzone: "\f278";
$icon-brand-r: "\f279";
$icon-brand-rabbitmq: "\f27a";
$icon-brand-radiopublic: "\f27b";
$icon-brand-rails: "\f27c";
$icon-brand-raspberrypi: "\f27d";
$icon-brand-react: "\f27e";
$icon-brand-reactos: "\f27f";
$icon-brand-reactrouter: "\f280";
$icon-brand-readthedocs: "\f281";
$icon-brand-realm: "\f282";
$icon-brand-reason: "\f283";
$icon-brand-reasonstudios: "\f284";
$icon-brand-redbubble: "\f285";
$icon-brand-reddit1: "\f286";
$icon-brand-redhat: "\f287";
$icon-brand-redis: "\f288";
$icon-brand-redux: "\f289";
$icon-brand-renren: "\f28a";
$icon-brand-repl-dot-it: "\f28b";
$icon-brand-researchgate: "\f28c";
$icon-brand-reverbnation: "\f28d";
$icon-brand-riot: "\f28e";
$icon-brand-ripple: "\f28f";
$icon-brand-riseup: "\f290";
$icon-brand-rollup-dot-js: "\f291";
$icon-brand-roots: "\f292";
$icon-brand-roundcube: "\f293";
$icon-brand-rss: "\f294";
$icon-brand-rstudio: "\f295";
$icon-brand-ruby: "\f296";
$icon-brand-rubygems: "\f297";
$icon-brand-runkeeper: "\f298";
$icon-brand-rust: "\f299";
$icon-brand-safari: "\f29a";
$icon-brand-sahibinden: "\f29b";
$icon-brand-salesforce: "\f29c";
$icon-brand-saltstack: "\f29d";
$icon-brand-samsung: "\f29e";
$icon-brand-samsungpay: "\f29f";
$icon-brand-sap: "\f2a0";
$icon-brand-sass: "\f2a1";
$icon-brand-saucelabs: "\f2a2";
$icon-brand-scala: "\f2a3";
$icon-brand-scaleway: "\f2a4";
$icon-brand-scribd: "\f2a5";
$icon-brand-scrutinizerci: "\f2a6";
$icon-brand-seagate: "\f2a7";
$icon-brand-sega: "\f2a8";
$icon-brand-sellfy: "\f2a9";
$icon-brand-semaphoreci: "\f2aa";
$icon-brand-sensu: "\f2ab";
$icon-brand-sentry: "\f2ac";
$icon-brand-serverfault: "\f2ad";
$icon-brand-shazam: "\f2ae";
$icon-brand-shell: "\f2af";
$icon-brand-shopify: "\f2b0";
$icon-brand-showpad: "\f2b1";
$icon-brand-siemens: "\f2b2";
$icon-brand-signal: "\f2b3";
$icon-brand-simpleicons: "\f2b4";
$icon-brand-sinaweibo: "\f2b5";
$icon-brand-sitepoint: "\f2b6";
$icon-brand-sketch: "\f2b7";
$icon-brand-skillshare: "\f2b8";
$icon-brand-skyliner: "\f2b9";
$icon-brand-skype: "\f2ba";
$icon-brand-slack: "\f2bb";
$icon-brand-slashdot: "\f2bc";
$icon-brand-slickpic: "\f2bd";
$icon-brand-slides: "\f2be";
$icon-brand-smashingmagazine: "\f2bf";
$icon-brand-smugmug: "\f2c0";
$icon-brand-snapchat: "\f2c1";
$icon-brand-snapcraft: "\f2c2";
$icon-brand-snyk: "\f2c3";
$icon-brand-society6: "\f2c4";
$icon-brand-socket-dot-io: "\f2c5";
$icon-brand-sogou: "\f2c6";
$icon-brand-solus: "\f2c7";
$icon-brand-sonarcloud: "\f2c8";
$icon-brand-sonarlint: "\f2c9";
$icon-brand-sonarqube: "\f2ca";
$icon-brand-sonarsource: "\f2cb";
$icon-brand-songkick: "\f2cc";
$icon-brand-sonicwall: "\f2cd";
$icon-brand-sonos: "\f2ce";
$icon-brand-soundcloud: "\f2cf";
$icon-brand-sourceengine: "\f2d0";
$icon-brand-sourceforge: "\f2d1";
$icon-brand-sourcegraph: "\f2d2";
$icon-brand-spacemacs: "\f2d3";
$icon-brand-spacex: "\f2d4";
$icon-brand-sparkfun: "\f2d5";
$icon-brand-sparkpost: "\f2d6";
$icon-brand-spdx: "\f2d7";
$icon-brand-speakerdeck: "\f2d8";
$icon-brand-spectrum: "\f2d9";
$icon-brand-spotify: "\f2da";
$icon-brand-spotlight: "\f2db";
$icon-brand-spreaker: "\f2dc";
$icon-brand-spring: "\f2dd";
$icon-brand-sprint: "\f2de";
$icon-brand-square: "\f2df";
$icon-brand-squarespace: "\f2e0";
$icon-brand-stackbit: "\f2e1";
$icon-brand-stackexchange: "\f2e2";
$icon-brand-stackoverflow: "\f2e3";
$icon-brand-stackpath: "\f2e4";
$icon-brand-stackshare: "\f2e5";
$icon-brand-stadia: "\f2e6";
$icon-brand-statamic: "\f2e7";
$icon-brand-staticman: "\f2e8";
$icon-brand-statuspage: "\f2e9";
$icon-brand-steam1: "\f2ea";
$icon-brand-steamworks: "\f2eb";
$icon-brand-steem: "\f2ec";
$icon-brand-steemit: "\f2ed";
$icon-brand-steinberg: "\f2ee";
$icon-brand-stencyl: "\f2ef";
$icon-brand-stitcher: "\f2f0";
$icon-brand-storify: "\f2f1";
$icon-brand-storybook: "\f2f2";
$icon-brand-strapi: "\f2f3";
$icon-brand-strava: "\f2f4";
$icon-brand-stripe: "\f2f5";
$icon-brand-strongswan: "\f2f6";
$icon-brand-stubhub: "\f2f7";
$icon-brand-styled-components: "\f2f8";
$icon-brand-styleshare: "\f2f9";
$icon-brand-stylus: "\f2fa";
$icon-brand-sublimetext: "\f2fb";
$icon-brand-subversion: "\f2fc";
$icon-brand-superuser: "\f2fd";
$icon-brand-svelte: "\f2fe";
$icon-brand-svg: "\f2ff";
$icon-brand-svgo: "\f300";
$icon-brand-swagger: "\f301";
$icon-brand-swarm: "\f302";
$icon-brand-swift: "\f303";
$icon-brand-symantec: "\f304";
$icon-brand-symfony: "\f305";
$icon-brand-synology: "\f306";
$icon-brand-t-mobile: "\f307";
$icon-brand-tableau: "\f308";
$icon-brand-tails: "\f309";
$icon-brand-tailwindcss: "\f30a";
$icon-brand-tapas: "\f30b";
$icon-brand-teamviewer: "\f30c";
$icon-brand-ted: "\f30d";
$icon-brand-teespring: "\f30e";
$icon-brand-telegram: "\f30f";
$icon-brand-tencentqq: "\f310";
$icon-brand-tencentweibo: "\f311";
$icon-brand-tensorflow: "\f312";
$icon-brand-teradata: "\f313";
$icon-brand-terraform: "\f314";
$icon-brand-tesla: "\f315";
$icon-brand-themighty: "\f316";
$icon-brand-themoviedatabase: "\f317";
$icon-brand-tidal: "\f318";
$icon-brand-tiktok: "\f319";
$icon-brand-timescale: "\f31a";
$icon-brand-tinder: "\f31b";
$icon-brand-todoist: "\f31c";
$icon-brand-toggl: "\f31d";
$icon-brand-topcoder: "\f31e";
$icon-brand-toptal: "\f31f";
$icon-brand-tor: "\f320";
$icon-brand-toshiba: "\f321";
$icon-brand-trainerroad: "\f322";
$icon-brand-trakt: "\f323";
$icon-brand-travisci: "\f324";
$icon-brand-treehouse: "\f325";
$icon-brand-trello: "\f326";
$icon-brand-trendmicro: "\f327";
$icon-brand-tripadvisor: "\f328";
$icon-brand-trulia: "\f329";
$icon-brand-trustpilot: "\f32a";
$icon-brand-tumblr: "\f32b";
$icon-brand-turkishairlines: "\f32c";
$icon-brand-twilio: "\f32d";
$icon-brand-twitch: "\f32e";
$icon-brand-twitter: "\f32f";
$icon-brand-twoo: "\f330";
$icon-brand-typescript: "\f331";
$icon-brand-typo3: "\f332";
$icon-brand-uber: "\f333";
$icon-brand-ubereats: "\f334";
$icon-brand-ubisoft: "\f335";
$icon-brand-ublockorigin: "\f336";
$icon-brand-ubuntu: "\f337";
$icon-brand-udacity: "\f338";
$icon-brand-udemy: "\f339";
$icon-brand-uikit: "\f33a";
$icon-brand-umbraco: "\f33b";
$icon-brand-unity: "\f33c";
$icon-brand-unrealengine: "\f33d";
$icon-brand-unsplash: "\f33e";
$icon-brand-untappd: "\f33f";
$icon-brand-upwork: "\f340";
$icon-brand-v: "\f341";
$icon-brand-v8: "\f342";
$icon-brand-vagrant: "\f343";
$icon-brand-valve: "\f344";
$icon-brand-veeam: "\f345";
$icon-brand-venmo: "\f346";
$icon-brand-verizon: "\f347";
$icon-brand-viadeo: "\f348";
$icon-brand-viber: "\f349";
$icon-brand-vim: "\f34a";
$icon-brand-vimeo: "\f34b";
$icon-brand-vine: "\f34c";
$icon-brand-virb: "\f34d";
$icon-brand-visa: "\f34e";
$icon-brand-visualstudio: "\f34f";
$icon-brand-visualstudiocode: "\f350";
$icon-brand-vk: "\f351";
$icon-brand-vlcmediaplayer: "\f352";
$icon-brand-vodafone: "\f353";
$icon-brand-volkswagen: "\f354";
$icon-brand-vsco: "\f355";
$icon-brand-vue-dot-js: "\f356";
$icon-brand-w3c: "\f357";
$icon-brand-wattpad: "\f358";
$icon-brand-waze: "\f359";
$icon-brand-weasyl: "\f35a";
$icon-brand-webauthn: "\f35b";
$icon-brand-webcomponents-dot-org: "\f35c";
$icon-brand-webmin: "\f35d";
$icon-brand-webpack: "\f35e";
$icon-brand-webstorm: "\f35f";
$icon-brand-wechat: "\f360";
$icon-brand-whatsapp: "\f361";
$icon-brand-wheniwork: "\f362";
$icon-brand-whitesource: "\f363";
$icon-brand-wii: "\f364";
$icon-brand-wiiu: "\f365";
$icon-brand-wikipedia1: "\f366";
$icon-brand-windows: "\f367";
$icon-brand-wire: "\f368";
$icon-brand-wireguard: "\f369";
$icon-brand-wish: "\f36a";
$icon-brand-wix: "\f36b";
$icon-brand-wolfram: "\f36c";
$icon-brand-wolframlanguage: "\f36d";
$icon-brand-wolframmathematica: "\f36e";
$icon-brand-wordpress: "\f36f";
$icon-brand-workplace: "\f370";
$icon-brand-wpengine: "\f371";
$icon-brand-write-dot-as: "\f372";
$icon-brand-x-dot-org: "\f373";
$icon-brand-x-pack: "\f374";
$icon-brand-xamarin: "\f375";
$icon-brand-xbox: "\f376";
$icon-brand-xcode: "\f377";
$icon-brand-xdadevelopers: "\f378";
$icon-brand-xero: "\f379";
$icon-brand-xfce: "\f37a";
$icon-brand-xiaomi: "\f37b";
$icon-brand-xing: "\f37c";
$icon-brand-xmpp: "\f37d";
$icon-brand-xrp: "\f37e";
$icon-brand-xsplit: "\f37f";
$icon-brand-yahoo: "\f380";
$icon-brand-yamahacorporation: "\f381";
$icon-brand-yamahamotorcorporation: "\f382";
$icon-brand-yammer: "\f383";
$icon-brand-yandex: "\f384";
$icon-brand-yarn: "\f385";
$icon-brand-ycombinator: "\f386";
$icon-brand-yelp: "\f387";
$icon-brand-youtube: "\f388";
$icon-brand-zalando: "\f389";
$icon-brand-zapier: "\f38a";
$icon-brand-zeit: "\f38b";
$icon-brand-zend: "\f38c";
$icon-brand-zendesk: "\f38d";
$icon-brand-zendframework: "\f38e";
$icon-brand-zeromq: "\f38f";
$icon-brand-zerply: "\f390";
$icon-brand-zhihu: "\f391";
$icon-brand-zillow: "\f392";
$icon-brand-zingat: "\f393";
$icon-brand-zoom: "\f394";
$icon-brand-zorin: "\f395";
$icon-brand-zulip: "\f396";

