@charset "UTF-8";
img.center {
  display: block;
  margin: auto;
}

img.flip, #cover-logo {
  transform: rotateY(180deg);
}

img.introduce {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

#cover-logo {
  margin-top: -10%;
}

.clear, hr {
  clear: both;
}

.markdown-section strong {
  color: #ee625d;
}

.markdown-section > div > img {
  box-shadow: 2px 2px 20px 6px white !important;
}

.markdown-section pre {
  background-color: #212121 !important;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 6px white !important;
}

.markdown-section pre::before {
  content: "";
  display: block;
  background: url(/assets/images/ico/omit.ico);
  height: 30px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: #1c1c1c;
  background-position: 10px 10px;
}

.markdown-section pre > code {
  color: #c0c3c1 !important;
  font-family: "Inconsolata", consolas, "PingFang SC", "Microsoft YaHei", monospace !important;
  background-color: #212121 !important;
  font-size: 15px !important;
  white-space: pre !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  padding: 1.5em 5px;
}

.markdown-section code {
  background-color: #f8f8f8;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px !important;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: nowrap;
  border: 1px solid #282c34;
  color: #e512c1;
}

.markdown-section .docsify-copy-code-button {
  background: #00a1d6 !important;
  color: #ffffff !important;
  font-size: 13px !important;
}

.token.keyword {
  color: #c678dd !important;
}

.token.comment {
  color: #737c8b !important;
}

.token.tag {
  color: #a589ad !important;
}

.token.attr-name {
  color: #de916c !important;
}

.token.attr-value {
  color: #4faee2 !important;
}

.token.macro.property {
  color: #4faee2 !important;
}

.token.function {
  color: #e6b456 !important;
}

.token.string {
  color: #98b755 !important;
}

.token.punctuation {
  color: #c0c3c1 !important;
}

.token.number {
  color: #c0c3c1 !important;
}

.app-nav {
  position: fixed;
  margin: 0px;
  padding: 15px 25px 15px 0;
  /*上、右、下、左*/
  width: calc(100% - 300px);
  background-color: #fff;
  height: 55px;
  border-bottom: 1px solid #eee;
}

body.close .app-nav {
  width: 100%;
}

.github-corner {
  width: 55px;
  height: 55px;
  position: absolute;
  z-index: 999;
  opacity: 0.7;
}

.sidebar {
  padding-top: 5px;
}

.sidebar .search {
  height: 50px;
}

.sidebar ul li {
  margin: 0;
  position: relative;
}

.sidebar ul li ul {
  margin: 6px 0;
}

.sidebar ul li p {
  padding-left: 22px;
  font-size: 18px;
  font-weight: normal;
}

.sidebar ul li a {
  line-height: 35px;
  font-size: 14px;
  padding: 3px 0 3px 22px;
}

.sidebar ul li:active > a {
  font-size: 16px !important;
}

.sidebar ul li:active > a::before {
  content: "" !important;
  position: absolute !important;
  margin: 0 !important;
  width: 10px !important;
  height: 10px !important;
  top: 15px !important;
  left: 0px !important;
  border-radius: 50% !important;
  background-color: #fed24a !important;
  box-shadow: 0 0 0 3px rgba(254, 210, 74, 0.4) !important;
}

.swal-title {
  color: #575757;
}

.swal-text {
  color: #797979;
}

h1 span {
  display: inline-block;
  background: #42b983;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #33a9dc;
  background-image: linear-gradient(#6db85a, #33a9dc, #cb6196, #ac155e);
  border-radius: 2em;
}
