@charset "UTF-8";
[class^='icon-']:before,
[class*=' icon-']:before {
  font-size: 20px;
  padding-right: 5px;
}

[class^='emoji-']:before,
[class*=' emoji-']:before {
  font-size: 20px;
  padding-right: 5px;
}

.emoji-glasses:before {
  content: '👓';
}

.emoji-sunglasses:before {
  content: '🕶️';
}

.emoji-goggles:before {
  content: '🥽';
}

.emoji-lab-coat:before {
  content: '🥼';
}

.emoji-safety-vest:before {
  content: '🦺';
}

.emoji-necktie:before {
  content: '👔';
}

.emoji-t-shirt:before {
  content: '👕';
}

.emoji-jeans:before {
  content: '👖';
}

.emoji-scarf:before {
  content: '🧣';
}

.emoji-gloves:before {
  content: '🧤';
}

.emoji-coat:before {
  content: '🧥';
}

.emoji-socks:before {
  content: '🧦';
}

.emoji-dress:before {
  content: '👗';
}

.emoji-kimono:before {
  content: '👘';
}

.emoji-sari:before {
  content: '🥻';
}

.emoji-one-piece-swimsuit:before {
  content: '🩱';
}

.emoji-briefs:before {
  content: '🩲';
}

.emoji-shorts:before {
  content: '🩳';
}

.emoji-bikini:before {
  content: '👙';
}

.emoji-woman’s-clothes:before {
  content: '👚';
}

.emoji-purse:before {
  content: '👛';
}

.emoji-handbag:before {
  content: '👜';
}

.emoji-clutch-bag:before {
  content: '👝';
}

.emoji-shopping-bags:before {
  content: '🛍️';
}

.emoji-backpack:before {
  content: '🎒';
}

.emoji-man’s-shoe:before {
  content: '👞';
}

.emoji-running-shoe:before {
  content: '👟';
}

.emoji-hiking-boot:before {
  content: '🥾';
}

.emoji-flat-shoe:before {
  content: '🥿';
}

.emoji-high-heeled-shoe:before {
  content: '👠';
}

.emoji-woman’s-sandal:before {
  content: '👡';
}

.emoji-ballet-shoes:before {
  content: '🩰';
}

.emoji-woman’s-boot:before {
  content: '👢';
}

.emoji-crown:before {
  content: '👑';
}

.emoji-woman’s-hat:before {
  content: '👒';
}

.emoji-top-hat:before {
  content: '🎩';
}

.emoji-graduation-cap:before {
  content: '🎓';
}

.emoji-billed-cap:before {
  content: '🧢';
}

.emoji-rescue-worker’s-helmet:before {
  content: '⛑️';
}

.emoji-prayer-beads:before {
  content: '📿';
}

.emoji-lipstick:before {
  content: '💄';
}

.emoji-ring:before {
  content: '💍';
}

.emoji-gem-stone:before {
  content: '💎';
}

.emoji-muted-speaker:before {
  content: '🔇';
}

.emoji-speaker-low-volume:before {
  content: '🔈';
}

.emoji-speaker-medium-volume:before {
  content: '🔉';
}

.emoji-speaker-high-volume:before {
  content: '🔊';
}

.emoji-loudspeaker:before {
  content: '📢';
}

.emoji-megaphone:before {
  content: '📣';
}

.emoji-postal-horn:before {
  content: '📯';
}

.emoji-bell:before {
  content: '🔔';
}

.emoji-bell-with-slash:before {
  content: '🔕';
}

.emoji-musical-score:before {
  content: '🎼';
}

.emoji-musical-note:before {
  content: '🎵';
}

.emoji-musical-notes:before {
  content: '🎶';
}

.emoji-studio-microphone:before {
  content: '🎙️';
}

.emoji-level-slider:before {
  content: '🎚️';
}

.emoji-control-knobs:before {
  content: '🎛️';
}

.emoji-microphone:before {
  content: '🎤';
}

.emoji-headphone:before {
  content: '🎧';
}

.emoji-radio:before {
  content: '📻';
}

.emoji-saxophone:before {
  content: '🎷';
}

.emoji-guitar:before {
  content: '🎸';
}

.emoji-musical-keyboard:before {
  content: '🎹';
}

.emoji-trumpet:before {
  content: '🎺';
}

.emoji-violin:before {
  content: '🎻';
}

.emoji-banjo:before {
  content: '🪕';
}

.emoji-drum:before {
  content: '🥁';
}

.emoji-mobile-phone:before {
  content: '📱';
}

.emoji-mobile-phone-with-arrow:before {
  content: '📲';
}

.emoji-telephone:before {
  content: '☎️';
}

.emoji-telephone-receiver:before {
  content: '📞';
}

.emoji-pager:before {
  content: '📟';
}

.emoji-fax-machine:before {
  content: '📠';
}

.emoji-battery:before {
  content: '🔋';
}

.emoji-electric-plug:before {
  content: '🔌';
}

.emoji-laptop-computer:before {
  content: '💻';
}

.emoji-desktop-computer:before {
  content: '🖥️';
}

.emoji-printer:before {
  content: '🖨️';
}

.emoji-keyboard:before {
  content: '⌨️';
}

.emoji-computer-mouse:before {
  content: '🖱️';
}

.emoji-trackball:before {
  content: '🖲️';
}

.emoji-computer-disk:before {
  content: '💽';
}

.emoji-floppy-disk:before {
  content: '💾';
}

.emoji-optical-disk:before {
  content: '💿';
}

.emoji-dvd:before {
  content: '📀';
}

.emoji-abacus:before {
  content: '🧮';
}

.emoji-movie-camera:before {
  content: '🎥';
}

.emoji-film-frames:before {
  content: '🎞️';
}

.emoji-film-projector:before {
  content: '📽️';
}

.emoji-clapper-board:before {
  content: '🎬';
}

.emoji-television:before {
  content: '📺';
}

.emoji-camera:before {
  content: '📷';
}

.emoji-camera-with-flash:before {
  content: '📸';
}

.emoji-video-camera:before {
  content: '📹';
}

.emoji-videocassette:before {
  content: '📼';
}

.emoji-magnifying-glass-tilted-left:before {
  content: '🔍';
}

.emoji-magnifying-glass-tilted-right:before {
  content: '🔎';
}

.emoji-candle:before {
  content: '🕯️';
}

.emoji-light-bulb:before {
  content: '💡';
}

.emoji-flashlight:before {
  content: '🔦';
}

.emoji-red-paper-lantern:before {
  content: '🏮';
}

.emoji-diya-lamp:before {
  content: '🪔';
}

.emoji-notebook-with-decorative-cover:before {
  content: '📔';
}

.emoji-closed-book:before {
  content: '📕';
}

.emoji-open-book:before {
  content: '📖';
}

.emoji-green-book:before {
  content: '📗';
}

.emoji-blue-book:before {
  content: '📘';
}

.emoji-orange-book:before {
  content: '📙';
}

.emoji-books:before {
  content: '📚';
}

.emoji-notebook:before {
  content: '📓';
}

.emoji-ledger:before {
  content: '📒';
}

.emoji-page-with-curl:before {
  content: '📃';
}

.emoji-scroll:before {
  content: '📜';
}

.emoji-page-facing-up:before {
  content: '📄';
}

.emoji-newspaper:before {
  content: '📰';
}

.emoji-rolled-up-newspaper:before {
  content: '🗞️';
}

.emoji-bookmark-tabs:before {
  content: '📑';
}

.emoji-bookmark:before {
  content: '🔖';
}

.emoji-label:before {
  content: '🏷️';
}

.emoji-money-bag:before {
  content: '💰';
}

.emoji-yen-banknote:before {
  content: '💴';
}

.emoji-dollar-banknote:before {
  content: '💵';
}

.emoji-euro-banknote:before {
  content: '💶';
}

.emoji-pound-banknote:before {
  content: '💷';
}

.emoji-money-with-wings:before {
  content: '💸';
}

.emoji-credit-card:before {
  content: '💳';
}

.emoji-receipt:before {
  content: '🧾';
}

.emoji-chart-increasing-with-yen:before {
  content: '💹';
}

.emoji-currency-exchange:before {
  content: '💱';
}

.emoji-heavy-dollar-sign:before {
  content: '💲';
}

.emoji-envelope:before {
  content: '✉️';
}

.emoji-e-mail:before {
  content: '📧';
}

.emoji-incoming-envelope:before {
  content: '📨';
}

.emoji-envelope-with-arrow:before {
  content: '📩';
}

.emoji-outbox-tray:before {
  content: '📤';
}

.emoji-inbox-tray:before {
  content: '📥';
}

.emoji-package:before {
  content: '📦';
}

.emoji-closed-mailbox-with-raised-flag:before {
  content: '📫';
}

.emoji-closed-mailbox-with-lowered-flag:before {
  content: '📪';
}

.emoji-open-mailbox-with-raised-flag:before {
  content: '📬';
}

.emoji-open-mailbox-with-lowered-flag:before {
  content: '📭';
}

.emoji-postbox:before {
  content: '📮';
}

.emoji-ballot-box-with-ballot:before {
  content: '🗳️';
}

.emoji-pencil:before {
  content: '✏️';
}

.emoji-black-nib:before {
  content: '✒️';
}

.emoji-fountain-pen:before {
  content: '🖋️';
}

.emoji-pen:before {
  content: '🖊️';
}

.emoji-paintbrush:before {
  content: '🖌️';
}

.emoji-crayon:before {
  content: '🖍️';
}

.emoji-memo:before {
  content: '📝';
}

.emoji-briefcase:before {
  content: '💼';
}

.emoji-file-folder:before {
  content: '📁';
}

.emoji-open-file-folder:before {
  content: '📂';
}

.emoji-card-index-dividers:before {
  content: '🗂️';
}

.emoji-calendar:before {
  content: '📅';
}

.emoji-tear-off-calendar:before {
  content: '📆';
}

.emoji-spiral-notepad:before {
  content: '🗒️';
}

.emoji-spiral-calendar:before {
  content: '🗓️';
}

.emoji-card-index:before {
  content: '📇';
}

.emoji-chart-increasing:before {
  content: '📈';
}

.emoji-chart-decreasing:before {
  content: '📉';
}

.emoji-bar-chart:before {
  content: '📊';
}

.emoji-clipboard:before {
  content: '📋';
}

.emoji-pushpin:before {
  content: '📌';
}

.emoji-round-pushpin:before {
  content: '📍';
}

.emoji-paperclip:before {
  content: '📎';
}

.emoji-linked-paperclips:before {
  content: '🖇️';
}

.emoji-straight-ruler:before {
  content: '📏';
}

.emoji-triangular-ruler:before {
  content: '📐';
}

.emoji-scissors:before {
  content: '✂️';
}

.emoji-card-file-box:before {
  content: '🗃️';
}

.emoji-file-cabinet:before {
  content: '🗄️';
}

.emoji-wastebasket:before {
  content: '🗑️';
}

.emoji-locked:before {
  content: '🔒';
}

.emoji-unlocked:before {
  content: '🔓';
}

.emoji-locked-with-pen:before {
  content: '🔏';
}

.emoji-locked-with-key:before {
  content: '🔐';
}

.emoji-key:before {
  content: '🔑';
}

.emoji-old-key:before {
  content: '🗝️';
}

.emoji-hammer:before {
  content: '🔨';
}

.emoji-axe:before {
  content: '🪓';
}

.emoji-pick:before {
  content: '⛏️';
}

.emoji-hammer-and-pick:before {
  content: '⚒️';
}

.emoji-hammer-and-wrench:before {
  content: '🛠️';
}

.emoji-dagger:before {
  content: '🗡️';
}

.emoji-crossed-swords:before {
  content: '⚔️';
}

.emoji-pistol:before {
  content: '🔫';
}

.emoji-bow-and-arrow:before {
  content: '🏹';
}

.emoji-shield:before {
  content: '🛡️';
}

.emoji-wrench:before {
  content: '🔧';
}

.emoji-nut-and-bolt:before {
  content: '🔩';
}

.emoji-gear:before {
  content: '⚙️';
}

.emoji-clamp:before {
  content: '🗜️';
}

.emoji-balance-scale:before {
  content: '⚖️';
}

.emoji-probing-cane:before {
  content: '🦯';
}

.emoji-link:before {
  content: '🔗';
}

.emoji-chains:before {
  content: '⛓️';
}

.emoji-toolbox:before {
  content: '🧰';
}

.emoji-magnet:before {
  content: '🧲';
}

.emoji-alembic:before {
  content: '⚗️';
}

.emoji-test-tube:before {
  content: '🧪';
}

.emoji-petri-dish:before {
  content: '🧫';
}

.emoji-dna:before {
  content: '🧬';
}

.emoji-microscope:before {
  content: '🔬';
}

.emoji-telescope:before {
  content: '🔭';
}

.emoji-satellite-antenna:before {
  content: '📡';
}

.emoji-syringe:before {
  content: '💉';
}

.emoji-drop-of-blood:before {
  content: '🩸';
}

.emoji-pill:before {
  content: '💊';
}

.emoji-adhesive-bandage:before {
  content: '🩹';
}

.emoji-stethoscope:before {
  content: '🩺';
}

.emoji-door:before {
  content: '🚪';
}

.emoji-bed:before {
  content: '🛏️';
}

.emoji-couch-and-lamp:before {
  content: '🛋️';
}

.emoji-chair:before {
  content: '🪑';
}

.emoji-toilet:before {
  content: '🚽';
}

.emoji-shower:before {
  content: '🚿';
}

.emoji-bathtub:before {
  content: '🛁';
}

.emoji-razor:before {
  content: '🪒';
}

.emoji-lotion-bottle:before {
  content: '🧴';
}

.emoji-safety-pin:before {
  content: '🧷';
}

.emoji-broom:before {
  content: '🧹';
}

.emoji-basket:before {
  content: '🧺';
}

.emoji-roll-of-paper:before {
  content: '🧻';
}

.emoji-soap:before {
  content: '🧼';
}

.emoji-sponge:before {
  content: '🧽';
}

.emoji-fire-extinguisher:before {
  content: '🧯';
}

.emoji-shopping-cart:before {
  content: '🛒';
}

.emoji-cigarette:before {
  content: '🚬';
}

.emoji-coffin:before {
  content: '⚰️';
}

.emoji-funeral-urn:before {
  content: '⚱️';
}

.emoji-moai:before {
  content: '🗿';
}

.emoji-tree:before {
  content: '🌲';
}

.emoji-grapes:before {
  content: '🍇';
}

.emoji-melon:before {
  content: '🍈';
}

.emoji-watermelon:before {
  content: '🍉';
}

.emoji-tangerine:before {
  content: '🍊';
}

.emoji-lemon:before {
  content: '🍋';
}

.emoji-banana:before {
  content: '🍌';
}

.emoji-pineapple:before {
  content: '🍍';
}

.emoji-mango:before {
  content: '🥭';
}

.emoji-red-apple:before {
  content: '🍎';
}

.emoji-green-apple:before {
  content: '🍏';
}

.emoji-pear:before {
  content: '🍐';
}

.emoji-peach:before {
  content: '🍑';
}

.emoji-cherries:before {
  content: '🍒';
}

.emoji-strawberry:before {
  content: '🍓';
}

.emoji-kiwi-fruit:before {
  content: '🥝';
}

.emoji-tomato:before {
  content: '🍅';
}

.emoji-coconut:before {
  content: '🥥';
}

.emoji-avocado:before {
  content: '🥑';
}

.emoji-eggplant:before {
  content: '🍆';
}

.emoji-potato:before {
  content: '🥔';
}

.emoji-carrot:before {
  content: '🥕';
}

.emoji-ear-of-corn:before {
  content: '🌽';
}

.emoji-hot-pepper:before {
  content: '🌶️';
}

.emoji-cucumber:before {
  content: '🥒';
}

.emoji-leafy-green:before {
  content: '🥬';
}

.emoji-broccoli:before {
  content: '🥦';
}

.emoji-garlic:before {
  content: '🧄';
}

.emoji-onion:before {
  content: '🧅';
}

.emoji-mushroom:before {
  content: '🍄';
}

.emoji-peanuts:before {
  content: '🥜';
}

.emoji-chestnut:before {
  content: '🌰';
}

.emoji-bread:before {
  content: '🍞';
}

.emoji-croissant:before {
  content: '🥐';
}

.emoji-baguette-bread:before {
  content: '🥖';
}

.emoji-pretzel:before {
  content: '🥨';
}

.emoji-bagel:before {
  content: '🥯';
}

.emoji-pancakes:before {
  content: '🥞';
}

.emoji-waffle:before {
  content: '🧇';
}

.emoji-cheese-wedge:before {
  content: '🧀';
}

.emoji-meat-on-bone:before {
  content: '🍖';
}

.emoji-poultry-leg:before {
  content: '🍗';
}

.emoji-cut-of-meat:before {
  content: '🥩';
}

.emoji-bacon:before {
  content: '🥓';
}

.emoji-hamburger:before {
  content: '🍔';
}

.emoji-french-fries:before {
  content: '🍟';
}

.emoji-pizza:before {
  content: '🍕';
}

.emoji-hot-dog:before {
  content: '🌭';
}

.emoji-sandwich:before {
  content: '🥪';
}

.emoji-taco:before {
  content: '🌮';
}

.emoji-burrito:before {
  content: '🌯';
}

.emoji-stuffed-flatbread:before {
  content: '🥙';
}

.emoji-falafel:before {
  content: '🧆';
}

.emoji-egg:before {
  content: '🥚';
}

.emoji-cooking:before {
  content: '🍳';
}

.emoji-shallow-pan-of-food:before {
  content: '🥘';
}

.emoji-pot-of-food:before {
  content: '🍲';
}

.emoji-bowl-with-spoon:before {
  content: '🥣';
}

.emoji-green-salad:before {
  content: '🥗';
}

.emoji-popcorn:before {
  content: '🍿';
}

.emoji-butter:before {
  content: '🧈';
}

.emoji-salt:before {
  content: '🧂';
}

.emoji-canned-food:before {
  content: '🥫';
}

.emoji-bento-box:before {
  content: '🍱';
}

.emoji-rice-cracker:before {
  content: '🍘';
}

.emoji-rice-ball:before {
  content: '🍙';
}

.emoji-cooked-rice:before {
  content: '🍚';
}

.emoji-curry-rice:before {
  content: '🍛';
}

.emoji-steaming-bowl:before {
  content: '🍜';
}

.emoji-spaghetti:before {
  content: '🍝';
}

.emoji-roasted-sweet-potato:before {
  content: '🍠';
}

.emoji-oden:before {
  content: '🍢';
}

.emoji-sushi:before {
  content: '🍣';
}

.emoji-fried-shrimp:before {
  content: '🍤';
}

.emoji-fish-cake-with-swirl:before {
  content: '🍥';
}

.emoji-moon-cake:before {
  content: '🥮';
}

.emoji-dango:before {
  content: '🍡';
}

.emoji-dumpling:before {
  content: '🥟';
}

.emoji-fortune-cookie:before {
  content: '🥠';
}

.emoji-takeout-box:before {
  content: '🥡';
}

.emoji-crab:before {
  content: '🦀';
}

.emoji-lobster:before {
  content: '🦞';
}

.emoji-shrimp:before {
  content: '🦐';
}

.emoji-squid:before {
  content: '🦑';
}

.emoji-oyster:before {
  content: '🦪';
}

.emoji-soft-ice-cream:before {
  content: '🍦';
}

.emoji-shaved-ice:before {
  content: '🍧';
}

.emoji-ice-cream:before {
  content: '🍨';
}

.emoji-doughnut:before {
  content: '🍩';
}

.emoji-cookie:before {
  content: '🍪';
}

.emoji-birthday-cake:before {
  content: '🎂';
}

.emoji-shortcake:before {
  content: '🍰';
}

.emoji-cupcake:before {
  content: '🧁';
}

.emoji-pie:before {
  content: '🥧';
}

.emoji-chocolate-bar:before {
  content: '🍫';
}

.emoji-candy:before {
  content: '🍬';
}

.emoji-lollipop:before {
  content: '🍭';
}

.emoji-custard:before {
  content: '🍮';
}

.emoji-honey-pot:before {
  content: '🍯';
}

.emoji-baby-bottle:before {
  content: '🍼';
}

.emoji-glass-of-milk:before {
  content: '🥛';
}

.emoji-hot-beverage:before {
  content: '☕';
}

.emoji-teacup-without-handle:before {
  content: '🍵';
}

.emoji-sake:before {
  content: '🍶';
}

.emoji-bottle-with-popping-cork:before {
  content: '🍾';
}

.emoji-wine-glass:before {
  content: '🍷';
}

.emoji-cocktail-glass:before {
  content: '🍸';
}

.emoji-tropical-drink:before {
  content: '🍹';
}

.emoji-beer-mug:before {
  content: '🍺';
}

.emoji-clinking-beer-mugs:before {
  content: '🍻';
}

.emoji-clinking-glasses:before {
  content: '🥂';
}

.emoji-tumbler-glass:before {
  content: '🥃';
}

.emoji-cup-with-straw:before {
  content: '🥤';
}

.emoji-beverage-box:before {
  content: '🧃';
}

.emoji-mate:before {
  content: '🧉';
}

.emoji-ice:before {
  content: '🧊';
}

.emoji-chopsticks:before {
  content: '🥢';
}

.emoji-fork-and-knife-with-plate:before {
  content: '🍽️';
}

.emoji-fork-and-knife:before {
  content: '🍴';
}

.emoji-spoon:before {
  content: '🥄';
}

.emoji-kitchen-knife:before {
  content: '🔪';
}

.emoji-amphora:before {
  content: '🏺';
}

.emoji-compass:before {
  content: '🧭';
}

.emoji-droplet:before {
  content: '💧';
}

.emoji-sparkles:before {
  content: '✨';
}

.emoji-sparkling-heart:before {
  content: '💖';
}

.emoji-sparkles:before {
  content: '✨';
}

.emoji-sparkles:before {
  content: '✨';
}

.emoji-sparkles:before {
  content: '✨';
}

.emoji-sparkles:before {
  content: '✨';
}

.emoji-sparkles:before {
  content: '✨';
}

.emoji-sparkles:before {
  content: '✨';
}

img.center {
  display: block;
  margin: auto;
}

img.flip, #cover-logo {
  transform: rotateY(180deg);
}

img.introduce {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

#cover-logo {
  user-select: none;
}

footer.footer {
  text-align: center;
}

.clear, hr {
  clear: both;
}

i {
  font-style: normal;
}

.font-bold {
  font-size: larger;
  color: #ee625d;
}

.title {
  font-weight: 600 !important;
}

.details {
  /* 手指样式，可以指定-webkit-zoom-out和-webkit-zoom-in */
  cursor: pointer;
  user-select: none;
  list-style: none;
}

/* details标签样式美化 --- start */
details {
  width: 30em;
  margin: 0 2em;
}

details summary {
  /* 手指样式，可以指定-webkit-zoom-out和-webkit-zoom-in */
  cursor: pointer;
  user-select: none;
  list-style: none;
}

details summary:hover {
  background-image: linear-gradient(#cb6196, #c76262);
  text-decoration: none;
  list-style: none;
}

details[open] {
  border-left: 1px solid rgba(14, 85, 151, 0.3);
}

details[open] summary {
  text-align: center;
  width: 30em;
  background-image: linear-gradient(#cb6196, #c76262);
  display: unset;
}

details[open] ul {
  margin: 0 auto;
}

.markdown-section strong {
  color: #ee625d;
}

.markdown-section a {
  font-weight: 500;
  text-decoration: none;
}

.markdown-section a:hover {
  text-decoration: none;
  background-image: linear-gradient(#cb6196, #c76262);
}

.markdown-section h1 {
  font-size: 1.5em;
}

.markdown-section h1 span {
  display: inline-block;
  background: #e1efdb;
  padding: 10px 16px;
  border-radius: 5px;
}

.markdown-section > div > img {
  box-shadow: 2px 2px 20px 6px white !important;
}

.markdown-section pre {
  background-color: #212121 !important;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 6px white !important;
}

.markdown-section pre::before {
  content: '';
  display: block;
  background: url(/assets/images/ico/omit.ico);
  height: 30px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: #1c1c1c;
  background-position: 10px 10px;
}

.markdown-section pre > code {
  color: #c0c3c1 !important;
  font-family: 'Inconsolata', consolas, 'PingFang SC', 'Microsoft YaHei', monospace !important;
  background-color: #212121 !important;
  font-size: 15px !important;
  white-space: pre !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  padding: 1.5em 5px;
}

.markdown-section code {
  background-color: #f8f8f8;
  border-radius: 2px;
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 16px !important;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: nowrap;
  border: 1px solid #282c34;
  color: #e512c1;
}

.markdown-section .docsify-copy-code-button {
  background: #00a1d6 !important;
  color: #ffffff !important;
  font-size: 13px !important;
}

.token.keyword {
  color: #c678dd !important;
}

.token.comment {
  color: #737c8b !important;
}

.token.tag {
  color: #a589ad !important;
}

.token.attr-name {
  color: #de916c !important;
}

.token.attr-value {
  color: #4faee2 !important;
}

.token.macro.property {
  color: #4faee2 !important;
}

.token.function {
  color: #e6b456 !important;
}

.token.string {
  color: #98b755 !important;
}

.token.punctuation {
  color: #c0c3c1 !important;
}

.token.number {
  color: #c0c3c1 !important;
}

.app-nav {
  position: fixed;
  margin: 0px;
  padding: 15px 25px 15px 0;
  /*上、右、下、左*/
  width: calc(100% - 300px);
  background-color: #fff;
  height: 55px;
  border-bottom: 1px solid #eee;
}

.app-nav a.active {
  border-bottom: none !important;
}

.app-nav.no-badge {
  margin: 0;
}

body.close .app-nav {
  width: 100%;
}

.github-corner {
  width: 55px;
  height: 55px;
  position: absolute;
  z-index: 999;
  opacity: 0.7;
}

.sidebar {
  padding-top: 5px;
}

.sidebar .search {
  margin-bottom: 20px;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.sidebar .search input {
  padding: 0px;
}

.sidebar ul li {
  margin: 0;
  position: relative;
}

.sidebar ul li ul {
  margin: 6px 0;
}

.sidebar ul li p {
  padding-left: 22px;
  font-size: 18px;
  font-weight: normal;
}

.sidebar ul li a {
  line-height: 35px;
  font-size: 14px;
  padding: 3px 0 3px 22px;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: var(--theme-color, #42b983);
}

.sidebar ul li:active > a {
  font-size: 16px !important;
}

.sidebar ul li:active > a::before {
  content: '' !important;
  position: absolute !important;
  margin: 0 !important;
  width: 10px !important;
  height: 10px !important;
  top: 15px !important;
  left: 0px !important;
  border-radius: 50% !important;
  background-color: #fed24a !important;
  box-shadow: 0 0 0 3px rgba(254, 210, 74, 0.4) !important;
}

.swal-title {
  color: #575757;
}

.swal-text {
  color: #797979;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #33a9dc;
  background-image: linear-gradient(#6db85a, #33a9dc, #cb6196, #ac155e);
  border-radius: 2em;
}

.waifu {
  cursor: pointer;
}

#sitetime {
  color: #000;
  margin-left: 20px;
  opacity: 0.8;
  background-image: linear-gradient(#6db85a, #33a9dc, #cb6196, #1e9da5);
}
